<!DOCTYPE html>
{% extends 'UEparliaments/base.html' %}
{% block content %}
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'parliaments.css' %}">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src=" {% static 'parliaments.js' %} ">
</script>
<form method="post" , action="post">
    <select class="form-control" id="country" name='selected_country' onchange='select_country(this)'>
        <option value="">Country</option>
        {% for country in countries %}
        <option value='parliament.country'>{{ country.country_name }}</option>
        {% endfor %}
    </select>
</form>
</body>
{% endblock %}
</html>